* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    #38cbd8,
    #1bc1dc,
    #00b6de,
    #11abde,
    #2d9fdc
  );
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 80px;
}
